/* .home-body {
    height: 100vh;
    position: relative;
    z-index: 0;
}

.createproj-container {
    height: 48px;
    width: fit-content;
    position: relative;
    top: 20px;
    left: 20px;
    display: flex;
}
.createproj-container:hover {
    cursor: pointer;
}
.createproj-container:hover .createproj-logo {
    rotate: 180deg;
}
.createproj-container:hover .createproj-logo, .createproj-container:hover .createproj-text {
    background-color: #3e94db;
    scale: 0.98;
}

.createproj-container .createproj-text {
    background-color: #65A9E0;
    border-radius: 30px;
    font-size: 0.95rem;
    font-weight: 500;
    padding: 8px;
    align-content: center;
    line-height: 100%;
    transition: 0.5s;
    
    box-shadow: -1px 0px 5px rgba(0, 0, 0, 1);
}

.createproj-container .createproj-logo {
    background-color: #65A9E0;
    width: 48px;
    border-radius: 30px;
    padding: 8px;
    align-content: center;
    line-height: 100%;
    padding-left: 15px;
    margin-left: -5px;
    transition: 0.5s;
}

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.home-body .home-icon-container {
    position: fixed;
    width: auto;
    right: 20px;
    top: 65px;
    display: grid;
    grid-template-rows: repeat(1, 48px);
    gap: 10px;
}

.home-icon-container .database-btn {
    background-color: white;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    color: #004C82;
    align-content: center;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.home-icon-container .card:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  .home-icon-container .database-btn:hover {
    background-color: #004C82;
    color: white;
  }

  .symbol {
    margin-top: 13px;
    font-size: 1.5rem;
  }
  
  .label {
    font-size: 1rem;
    color: #000000;
    position: relative;
    top: 4px;
    font-weight: 700;
    right: 10px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.overlay-content {
    background: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.overlay-content .form-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.overlay-content form {
    display: flex;
    flex-direction: column;
}

.overlay-content label {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.overlay-content input, 
.overlay-content textarea {
    margin-bottom: 15px;
    margin-top: 2px;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    background-color: rgba(236, 236, 236, 0.6);
    width: 100%;
}

.overlay-content .initialpt-set {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-bottom: 15px;
}
.overlay-content .initialpt-set .LOM {
    color: #1A6CE6;
    margin-left: 29px;
    display: flex;
    gap: 5px;
    align-items: center;
    text-align: center;
}
.overlay-content .initialpt-set .LOM span {
    line-height: 13%;
}
.overlay-content .initialpt-set .LOM:hover {
    cursor: pointer;
    color: #0a4399;
}

.overlay-content .restrictions {
    display: flex;
    flex-direction: row;
    font-size: 0.91rem;
    margin-bottom: 15px;
}
.overlay-content .restrictions input {
    margin: 0;
    padding: 0px;
    background-color: rgba(236, 236, 236, 0.6);
    width: auto;
    margin-right: 5px;
}
.overlay-content .restrictions input:hover {
    cursor: pointer;
}

.overlay-content .add-memb {
    margin-bottom: 15px;
}
.overlay-content .add-memb .memb-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.overlay-content .add-memb .memb-head .copycode-text {
    color: #1A6CE6;
    text-decoration: underline;
}
.overlay-content .add-memb .memb-head .copycode-text:hover {
    cursor: pointer;
    color: #0a4399;
}

.overlay-content .add-memb .memb-disp {
    margin-top: 2px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay-content .add-memb .memb-disp .creator-det {
    display: flex;
    justify-content: space-between;
    width: 98%;
    height: 33px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    align-items: center;
    padding: 0px 5px;
}
.overlay-content .add-memb .memb-disp .creator-det .creator-name {
    text-transform: uppercase;
}
.overlay-content .add-memb .memb-disp .creator-det .creator-role {
    text-transform: uppercase;
}

.overlay-content .add-memb .memb-disp .others-joined {
    display: flex;
    justify-content: space-between;
    width: 98%;
    height: 33px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    align-items: center;
    padding: 0px 5px;
}

.overlay-content .vehicle-select {
    margin-bottom: 25px;
}

.overlay-content .vehicle-select select {
    height:33px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    background-color: rgba(236, 236, 236, 0.6);
    margin-top: 2px;
}

.overlay-content button {
    padding:9px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.overlay-content .createproj-btn {
    background: #004C82;
    color: white;
    margin-bottom: 10px;
}

.overlay-content button[type="button"] {
    background: #f44336;
    color: white;
} 


   */


   .home-body {
    height: 100vh;
    position: relative;
    z-index: 0;
}

.home-createproj-container {
    height: 48px;
    width: fit-content;
    position: relative;
    top: 20px;
    left: 20px;
    display: flex;
}
.home-createproj-container:hover {
    cursor: pointer;
}
.home-createproj-container:hover .home-createproj-logo {
    rotate: 180deg;
}
.home-createproj-container:hover .home-createproj-logo, .home-createproj-container:hover .home-createproj-text {
    background-color: #3e94db;
    scale: 0.98;
}

.home-createproj-container .home-createproj-text {
    background-color: #65A9E0;
    border-radius: 30px;
    font-size: 0.95rem;
    font-weight: 500;
    padding: 8px;
    align-content: center;
    line-height: 100%;
    transition: 0.5s;
    
    box-shadow: -1px 0px 5px rgba(0, 0, 0, 1);
}

.home-createproj-container .home-createproj-logo {
    background-color: #65A9E0;
    width: 48px;
    border-radius: 30px;
    padding: 8px;
    align-content: center;
    line-height: 100%;
    padding-left: 15px;
    margin-left: -5px;
    transition: 0.5s;
}

.home-map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.home-body .home-icon-container {
    position: fixed;
    width: auto;
    right: 20px;
    top: 65px;
    display: grid;
    grid-template-rows: repeat(1, 48px);
    gap: 10px;
}

.home-icon-container .home-database-btn {
    background-color: white;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    color: #004C82;
    align-content: center;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.home-icon-container .card:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
.home-icon-container .home-database-btn:hover {
    background-color: #004C82;
    color: white;
  }

.home-symbol {
    margin-top: 13px;
    font-size: 1.5rem;
}
  
.home-label {
    font-size: 1rem;
    color: #000000;
    position: relative;
    top: 4px;
    font-weight: 700;
    right: 10px;
}

.home-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.home-overlay-content {
    background: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.home-overlay-content .home-form-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.home-overlay-content form {
    display: flex;
    flex-direction: column;
}

.home-overlay-content label {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.home-overlay-content input, 
.home-overlay-content textarea {
    margin-bottom: 15px;
    margin-top: 2px;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    background-color: rgba(236, 236, 236, 0.6);
    width: 100%;
}

.home-overlay-content .home-initialpt-set {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-bottom: 15px;
}
.home-overlay-content .home-initialpt-set .home-LOM {
    color: #1A6CE6;
    margin-left: 29px;
    display: flex;
    gap: 5px;
    align-items: center;
    text-align: center;
}
.home-overlay-content .home-initialpt-set .home-LOM span {
    line-height: 13%;
}
.home-overlay-content .home-initialpt-set .home-LOM:hover {
    cursor: pointer;
    color: #0a4399;
}

.home-overlay-content .home-restrictions {
    display: flex;
    flex-direction: row;
    font-size: 0.91rem;
    margin-bottom: 15px;
}
.home-overlay-content .home-restrictions input {
    margin: 0;
    padding: 0px;
    background-color: rgba(236, 236, 236, 0.6);
    width: auto;
    margin-right: 5px;
}
.home-overlay-content .home-restrictions input:hover {
    cursor: pointer;
}

.home-overlay-content .home-add-memb {
    margin-bottom: 15px;
}
.home-overlay-content .home-add-memb .home-memb-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.home-overlay-content .home-add-memb .home-memb-head .home-copycode-text {
    color: #1A6CE6;
    text-decoration: underline;
}
.home-overlay-content .home-add-memb .home-memb-head .home-copycode-text:hover {
    cursor: pointer;
    color: #0a4399;
}

.home-overlay-content .home-add-memb .home-memb-disp {
    margin-top: 2px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-overlay-content .home-add-memb .home-memb-disp .home-creator-det {
    display: flex;
    justify-content: space-between;
    width: 98%;
    height: 33px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    align-items: center;
    padding: 0px 5px;
}
.home-overlay-content .home-add-memb .home-memb-disp .home-creator-name {
    text-transform: uppercase;
}
.home-overlay-content .home-add-memb .home-memb-disp .home-creator-role {
    text-transform: uppercase;
}

.home-overlay-content .home-add-memb .home-memb-disp .home-others-joined {
    display: flex;
    justify-content: space-between;
    width: 98%;
    height: 33px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    align-items: center;
    padding: 0px 5px;
}

.home-overlay-content .home-vehicle-select {
    margin-bottom: 25px;
}

.home-overlay-content .home-vehicle-select select {
    height:33px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    background-color: rgba(236, 236, 236, 0.6);
    margin-top: 2px;
}

.home-overlay-content button {
    padding:9px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.home-overlay-content .home-createproj-btn {
    background: #004C82;
    color: white;
    margin-bottom: 10px;
}

.home-overlay-content button[type="button"] {
    background: #f44336;
    color: white;
}
